/* CUSTOM STYLES */

.splash {
    padding: 9em 0 2em;
    background-color: #141d27;
    background-image: url("https://bootswatch.com/assets/img/bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    text-align: center;
}

.splash h1 {
	font-size: 3em;
}

.navbar-brand>img {
    display: inline;
    margin: 0 10px;
    height: 100%;
}

.navbar-transparent {
   background: rgba(0,0,0,0);
}
